@font-face {
    font-family: Roboto-Regular;
    src: url('../../fonts/writing/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Medium;
    src: url('../../fonts/writing/Roboto-Medium.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('../../fonts/writing/Roboto-Bold.ttf');
}
:root {
  --grad-color-prime: #03D488;
  --grad-color-secondary: #507DC8;
  --ff-robo-reg:'Roboto-Regular';
  --ff-robo-med:'Roboto-Medium';
  --ff-robo-bld:'Roboto-Bold';
}
body,html:not(.mainhtml){
font-family: var(--ff-robo-reg);
margin:0;
width: 100%;
height: 100%;
}

.page-title-bar-wrapper
{
    background: var(--grad-color-prime);
    background: -webkit-linear-gradient(right, var(--grad-color-prime), var(--grad-color-secondary));
    background: -moz-linear-gradient(right,var(--grad-color-prime), var(--grad-color-secondary));
    background: linear-gradient(to left, var(--grad-color-prime), var(--grad-color-secondary));
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px #9b9b9b;
}

.page-popup_title {
    color: white;
    margin: 0px 0px 20px;
    font-family: var(--ff-robo-med);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.custom-File-dragger {
    display: inline-block;
    width: 100%;
    padding: 220px 0 0 0;
    height: 200px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: auto;
    border: 3px solid #da4848;
    cursor: pointer;
    margin-bottom: 10px;
    transition-duration: 0.5s;
}
.custom-File-dragger:hover{
background-color: #ff000014;
}